<!DOCTYPE html>
<html lang="en">

<head>
  <title>Adventure Crawler - Admin</title>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >
  <script
    src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />
</head>

<body>
  <main class="container">
    <form
      hx-ext="response-targets"
      hx-target="#form-response"
      hx-target-error="#form-response"
      hx-headers='js:{"Authorization": `Bearer ${document.querySelector("#api-key").value}`}'
    >
      <p id="form-response"></p>
      <label>
        Clé d'administration
        <input
          type="password"
          id="api-key"
          required
        >
      </label>
      <input
        type="submit"
        value="Installer"
        hx-post="/install"
        hx-confirm="Voulez vous vraiment installer Adventure Crawler maintenant ?"
      >
      <input
        type="submit"
        value="Désinstaller"
        hx-post="/uninstall"
        hx-confirm="Voulez vous vraiment désintaller Adventure Crawler ?"
        class="secondary"
      >
    </form>
  </main>
</body>

</html>