<!DOCTYPE html>
<html>

<head>
  <title>Adventure Crawler</title>
  <script
    src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />
</head>

<body>
  <main class="container">
    <p>Bienvenue joueurs et joueuses ! Pour jouer tu dois savoir faire des requêtes HTTP et c'est à peu près tout. Bonne
      découverte ! </br><i>Yoann</i></p>
    <code><a href="/score-board">GET /score-board</a></code>
  </main>
</body>

</html>