<!DOCTYPE html>
<head>
  <title>Adventure Crawler</title>
</head>
  <body>
    <p>Bienvenue joueurs et joueuses ! Pour jouer tu dois savoir faire des requêtes HTTP et c'est à peu près tout. Bonne découverte ! </br><i>Yoann</i></p>
    <code><a href="/score-board">GET /score-board</a></code>
  </body>
</html>