<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <pre>
      +-------------------+---------------------+  
      | ./D u n g e o n s |    ./I t e m s      |  
      |-------------------+---------------------+  
      | kkkkk: vvvvv      | xxxxx: yyyyy        |  
      | kkkkk: vvvvv      | xxxxx: yyyyy        |  
      | kkkkk: vvvvv      | xxxxx: yyyyy        |  
      | kkkkk: vvvvv      | xxxxx: yyyyy        |  
      | kkkkk: vvvvv      | xxxxx: yyyyy        |  
      | kkkkk: vvvvv      +---------------------+  
      | kkkkk: vvvvv      | ./player /backpack  |  
      | kkkkk: vvvvv      +---------------------+  
      | kkkkk: vvvvv      | POST                |  
      | kkkkk: vvvvv      |    itemsName: [     |  
      | kkkkk: vvvvv      |      ...yyyyy       |  
      | kkkkk: vvvvv      |    ]                |  
      | kkkkk: vvvvv      | GET                 |  
      +-----------------------------------------+  
      |  POST ../exploration /dungeons /vvvvv   |  
      |         basic auth name password        |  
      +-----------------------------------------+      
    </pre>
  </body>
</html>