<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <pre>
      +-------------------+---------------------+
      |   ./adventures    |    ./i t e m s      |
      |   ?page &limit    |    ?page &limit     |
      |-------------------+---------------------+
      | kkkkk: vvvvv      | xxxxx: yyyyy        |
      | kkkkk: vvvvv      | xxxxx: yyyyy        |
      | kkkkk: vvvvv      | xxxxx: yyyyy        |
      | kkkkk: vvvvv      | xxxxx: yyyyy        |
      | kkkkk: vvvvv      | xxxxx: yyyyy        |
      | kkkkk: vvvvv      +---------------------+
      | kkkkk: vvvvv      | ./ b a c k p a c k  |
      | kkkkk: vvvvv      +---------------------+
      | kkkkk: vvvvv      | POST                |
      | kkkkk: vvvvv      |    itemsName: [     |
      | kkkkk: vvvvv      |      ...yyyyy       |
      | kkkkk: vvvvv      |    ]                |
      | kkkkk: vvvvv      | GET                 |
      +-----------------------------------------+
      | POST ../exploration /adventures /vvvvv  |
      |         basic auth name password        |
      +-----------------------------------------+
    </pre>
  </body>
</html>