<!DOCTYPE html>
<htm>
  <head></head>
  <body>
    @if(data.length > 0)
      <table>
        <thead>
          <th>Joueur</th>
          <th>Score</th>
        </thead>
        <tbody>
          @each(player in data)
            <tr>
              <td>{{ player.name }}</td>
              <td>{{ player.score }}</td>
            </tr>
          @end
        </tbody>
      </table>
    @end
    <code>POST /inscription { name, password }</code>
  </body>
</htm>